.heading {
    font-weight: bold;
    font-size: 2em;

}

#input, #input2{
    color: green;
    border: 1px solid;
    padding: 9px;

}

#result {
    color: green;
    border: 1px solid;
    padding: 9px;
}

#result2 {
    color: green;
    border: 1px solid;
    padding: 9px;
}

.box {
    border: 1px solid;
    padding: 20px;
    margin: 20px;
    width: 500px;
    
}

.box > h2 {
    border: 1px solid;
}

.content {
    display: flex;
    flex-direction: row;
    
}

@media (max-width: 576px) {
    .content {
        display: flex;
        flex-direction: column;
    }
    .box {
        width: auto;
    }
  }

.jumbotron {
    height: 100px;
}