.heading {
    font-weight: bold;
    font-size: 2em;

}

#input, #input2{
    color: green;
    border: 1px solid;
    padding: 9px;

}

#result, #result2 {
    color: green;
    border: 1px solid;
    padding: 9px;
    background-color: white;
}


.box {
    border: 1px solid;
    padding: 20px;
    margin: 20px;
    width: 500px;
    
}

.box > h2 {
    border: 1px solid;
}

.content {
    display: flex;
    flex-direction: row;
    background-color: gainsboro;
    
}

@media (max-width: 576px) {
    .content {
        display: flex;
        flex-direction: column;
    }
    .box {
        width: auto;
    }
  }

.text-center {
    border: 1px solid;
    background-color: gray;
}

.footer {
    background-color: gray;
}