.heading {
    font-weight: bold;
    font-size: 2em;
}

#result {
    color: green;
    border: 1px solid;
    padding: 9px;
}

.box {
    border: 1px solid;
    padding: 20px;
    margin: 20px;
}

.content {
    display: flex;
    flex-direction: row;
    
}